{% extends 'article/base.html' %}

{% block content %}
    {% for article in article_list %}
    <div class="article-box">
        <div class="article-box__img">
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.image.url }}" alt="">
            </a>
        </div>

        <div class="article-box__info">
            <div class="article-box__header">
            <h2 class="article-box__title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            {% if article.published_date %}
                <p class="article-box__published-date">Дата публикации: {{ article.published_date|date:'d.m.Y' }}</p>
            {% else %}
                <p class="article-box__published-date">Дата создания: {{ article.created_date|date:'d.m.Y' }}</p>
            {% endif %}
        </div>

        <div class="article-box__description">
            {{ article.text|safe }}
        </div>
        <a href="{{ article.get_absolute_url }}">Комментариев: {{ article.approved_comments.count }}</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}