<header>
   <div class="container">
       <div class="header-top">
           <div class="logo">
               <a href="/">Учебный <span>блог</span></a>
           </div>
           <div class="search">
               <div class="icon-search"></div>
               <form action="{% url 'article_search' %}" method="GET">
                    <input type="text" name="q" value="{{q}}" class="search_input" placeholder="Поиск...">
               </form>
           </div>
       </div>
   </div>
</header>