<header>
   <div class="container">
       <div class="header-top">
           <div class="logo">
               <a href="/">Учебный <span>блог</span></a>
           </div>
           <div class="search">
               <div class="icon-search"></div>
               <form action="{% url 'article_search' %}" method="GET">
                    <input type="text" name="q" value="{{q}}" class="search_input" placeholder="Поиск...">
               </form>
           </div>
           <div class="auth">
               {% if user.is_authenticated %}
                    <a class="link-login" href="{% url 'logout' %}">Выход</a>
                    <a class="button-add-advert ml-15" href="{% url 'article_new' %}">Разместить статью</a>
                    <a class="button-add-advert ml-15" href="{% url 'article_draft_list' %}">Черновики</a>
               {% else %}
<!--                    <a class="link-login" href="{% url 'login' %}">Вход</a>-->
               {% endif %}
           </div>
       </div>
   </div>
</header>